body {
  background: #2d2d2d;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

ul {
  text-align: left;
  list-style-type: none;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#main-controller {
  display: flex;
  flex-flow: row wrap;
}

#histograph {
  position: relative;
  height: 600px;
  width: 600px;
}

#hostnames {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
  background: rgba(0,0,0, .5);
  border-radius: 2px;
}

a.hostname {
  margin: 0;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

.filthy {
  align-items: center;
  display: flex;
}
.host-container {
  align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-transition: background linear 250ms;
  transition: background linear 250ms;
}
.host-container:hover {
  background: rgba(225,255,255,.1);
}

.color-legend {
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

.subdomains {
  max-width: 500px;
  overflow: hidden;
}

.visit-count {
  margin-right: 20px;
}

.hidden {
  display: none;
}
