body {
  background: #2d2d2d;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

ul {
  text-align: left;
  list-style-type: none;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#main-controller {
  display: flex;
  flex-flow: row wrap;
}

#histograph {
  position: relative;
  height: 600px;
  width: 600px;
}
