<!doctype html>
<html data-ng-app="Histograph" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Histograph</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div class="container">

      <div ng-controller="MainCtrl" id="main-controller">

        <div class="graph-container">
          <h1 id="histograph-title">Histograph</h1>
          <div id="histograph"></div>
          <p>Browser history visualization tool.</p>
        </div>

        <ul id="hostnames">
          <li ng-repeat="item in data.hashes | orderBy:'visitCount':true">
            <div id="{{ item.name }}" class="host-container" ng-click="handleClick($event)">
              <div class="filthy">
                <div class="color-legend" style="background: {{ item.color }}"></div>
                <span href="{{ item.name }}" class="hostname" id="{{ item.name }}">{{ item.name }}</span>
              </div>
              <span class="visit-count">{{ item.visitCount }}</span>
            </div>
            <ul class="subdomains">
              <li class="sub-item" ng-repeat="subItem in item">
                {{ subItem }}
              </li>
            </ul>
          </li>
        </ul>

      </div>

    </div>

    <script src="./js/vendor/angular.min.js"></script>
    <script src="./js/vendor/angular-route.min.js"></script>
    <script src="./js/vendor/d3.min.js"></script>
    <script src="./js/app.js"></script>

  </body>
</html>

