<!doctype html>
<html data-ng-app="Histograph" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Histograph</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div class="container">


      <div ng-controller="MainCtrl" id="main-controller">

        <div id="histograph" ng-click="handleClick($event)"></div>

        <ul id="hostnames">
          <li ng-repeat="item in data.hashes | orderBy:'visitCount':true">
            <div class="host-container" data-hostname="{{item.name}}">
              <div class="color-legend" style="background: {{ item.color }}"></div>
              <a href="{{ item.name }}" class="hostname">{{ item.name }}</a>
            </div>
            <ul class="subdomains"></ul>
          </li>
        </ul>

      </div>

    </div>

    <script src="./js/vendor/angular.min.js"></script>
    <script src="./js/vendor/angular-route.min.js"></script>
    <script src="./js/vendor/d3.min.js"></script>
    <script src="./js/app.js"></script>

  </body>
</html>

