<!doctype html>
<html data-ng-app="Histograph" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Histograph</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div id="histo-watcher"></div>

    <div class="title-section">
      <span>Histograph</span>
    </div>
<!--     <div id="nuke-button" ng-click="nukeHistory($event)">
      <img src="" alt="">
      <span>Nuke History</span>
    </div> -->
    <div class="container">

      <div ng-controller="MainCtrl" id="main-controller">

        <div class="graph-container">
          <!-- <h1 id="histograph-title">Histograph</h1> -->
          <form>
            <label><input type="radio" name="mode" value="size"> Size</label>
            <label><input type="radio" name="mode" value="count" checked> Count</label>
            <button ng-click="saveSnapshot($event)">Save snapshot</button>
          </form>
          <div id="histograph"></div>
          <div id="histo-circle-tree"></div>
          <div id="histo-lines"></div>
          <!-- <p>Browser history visualization tool.</p> -->
        </div>

        <div class="tooltip-container">
          <div class="url-space">
            <span>URL:</span>
            <strong class="ml">{{ hoverUrl }}</strong>
          </div>
          <div class="visit-space">
            <span>Visits:</span>
            <strong class="ml">{{ hoverVisits }}</strong>
          </div>
          <div class="percent-space">
            <span>Eval:</span>
            <strong class="ml">{{ hoverPercent.toFixed(2) }}%</strong>
          </div>
        </div>


        <ul id="hostnames">
          <div>
            <input id="histo-search" ng-model="data.search"/>
          </div>
          <li class="histo-item" ng-repeat="item in data.items">{{item.title}} - {{item.url}}</li>
        </ul>
      </div>


    </div>

    <script src="./js/vendor/angular.min.js"></script>
    <script src="./js/vendor/angular-route.min.js"></script>
    <script src="./js/vendor/d3.min.js"></script>
    <script src="./js/vendor/underscore-min.js"></script>
    <script src="./js/vendor/jquery-min.js"></script>
    <script src="./js/test.js"></script>

  </body>
</html>

